html{
    height: 100%;
}

body{
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
	background-image: url("register.jpg");  
    background-repeat: no-repeat;
    background-position: inherit; 
    height: -20vh;
    overflow-x: hidden;
    
    
}

.message{
    color: white;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
    
}

.box{
    width: 300px;
	padding: 40px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #191919;
	text-align: center;
	border-radius: 24px;
}

.box input{
    border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border:2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}

.btn{
    border-radius: 20px;
    color: aqua;
    background-color: black;
}

.btn:hover{
    background-color: rgb(216, 159, 84);
    color: white;
}

