<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/register.css">

</head>
<body>
  <div >
    <!-- <img src="register.jpg" alt=""  > -->
    <div class="box">
      <% if(message.length>0) { %>
        <div class="message">
          <%=message%>  
        </div>
      <% } %>

      




      <form action="/register" method="POST" class="box">
    
            

              <h1 style="color: white;">Register</h1>
              <div class="form-group">
                <!-- <label for="email">Email</label> -->
                <input type="email" class="form-control" name="username" placeholder="E-mail">
              </div>
              <br>

              <div class="form-group">
                <!-- <label for="password">Password</label> -->
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div>

              <button type="submit" class="btn">Register</button>
            </div>
          
      </form>
    </div>
</html>