<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/update_pwd" method="POST" class="box">
    <div class="form-group" >
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email">
        <button type="submit" class="btn btn-dark">Update password</button>
    </div>
     
    <div class="form-group">
        <label for="OTP">OTP</label>
        <input type="number" class="form-control" name="otp">
    </div>

  </form>>    
      
    
</body>
</html>